<h1>Instructions</h1>
Create dragons using dragon eggs. You begin with three eggs.<br><br>
A dragon's hunger will increase each turn. If its hunger reaches 10, it will abandon you. Reduce its hunger by sending it to raid a village.<br><br>
Create a raid by selecting dragons to raid with, and then the village you wish to raid. The first time you raid a village, a knight will arrive afterwards to defend against future raids, and more knights will appear in that village over time.<br><br>
After a dragon participates in a raid, it will need a turn to rest before it can raid again. If a dragon is injured in a raid, it will need three turns to recover.<br><br>
Each time you raid a village defended by knights, you have a chance to acquire a new dragon egg.<br><br>
Later, slayers will begin appearing in villages. Slayers specialize in killing dragons, and pose a far greater threat than knights do. Over time, villages will begin to train knights and slayers more rapidly. You will be notified each time a new slayer spawns.<br><br>
Eventually, villages with large armies may begin attacking you between turns. Make sure you have enough dragons to defend against such attacks.<br><br>
Your objective is to continue for as long as you can. You will lose if all of your dragons are killed and you have no eggs, or if you exhaust the food supply.<br><br>
<%= button_to "back", '/game/menu', method: :get %>