<br><br><form action=<%="/intro/start"%> method="get">
    <input type="submit" value="Start New Game">
</form><br>
<form action=<%="/game/menu"%> method="get">
    <input type="submit" value="Continue Current Game">
</form>