<form action=<%="/intro/start"%> method="get">
    <input type="submit" value="Start New Game">
</form>
<form action=<%="/game/menu"%> method="get">
    <input type="submit" value="Continue Current Game">
</form>