<h2>Because this is a game. So, as they say, 'let your crazy out.' Bring life to your dragons, and ensure their legacy is restored for generations to come.</h2>
<br><br>
<%= button_to "Begin", '/game/menu', method: :get %>