<h2>Perhaps... As I said, who I am is unimportant. Bring life to your dragons, and ensure their legacy is restored for generations to come.</h2>
<br><br>
<%= button_to "Begin", '/game/menu', method: :get %>