<h2>Ah, <%= @current_game.player_name %>. A powerful name, worthy of the role you must fulfill.
<br><br>
<form action=<%="/intro/twoa"%> method="get">
    <input type="submit" value="What role?">
</form>
<form action=<%="/intro/twob"%> method="get">
    <input type="submit" value="What is this place?">
</form>