<h2>Welcome to Aorvellien. Tell me your name.</h2>
<br><br>
<form action=<%="/intro/onea"%> method="get">
    <input type="submit" value="My name is...">
</form>
<form action=<%="/intro/oneb"%> method="get">
    <input type="submit" value="Who are you?">
</form>