<h2>So it is widely believed across the rest of the world, just as this island is believed to be a myth. I discovered these three dragon eggs here, and there are surely more buried around the island. But humans have arrived here. Use your dragons to control the population, and ensure that they do not become a threat to your efforts.</h2>
<br><br>
<form action=<%="/intro/foura"%> method="get">
    <input type="submit" value="Why would I want to kill humans?">
</form>
<form action=<%="/intro/fourb"%> method="get">
    <input type="submit" value="Aren't you human?">
</form>