<h2>I suspected that would be your reaction. I discovered these three dragon eggs here, and there are surely more buried around the island. But humans have arrived here. Use your dragons to control the population, and ensure that they do not become a threat to your efforts.</h2>
<br><br>
<form action=<%="/intro/foura"%> method="get">
    <input type="submit" value="Why would I want to kill humans?">
</form>
<form action=<%="/intro/fourb"%> method="get">
    <input type="submit" value="Aren't you human?">
</form>