<h2>You will restore the mightiest creatures to ever roam the world: Dragons.</h2>
<br><br>
<form action=<%="/intro/threea"%> method="get">
    <input type="submit" value="Dragons? Awesome!">
</form>
<form action=<%="/intro/threeb"%> method="get">
    <input type="submit" value="Dragons? Dragons are a myth.">
</form>