<h2>This island is Aorvellien. It has been known by many names in many cultures, but always as a place of legend. Once, it was home to the mightiest of creatures, the dragons. And so it will be again.</h2>
<br><br>
<form action=<%="/intro/threea"%> method="get">
    <input type="submit" value="Dragons? Awesome!">
</form>
<form action=<%="/intro/threeb"%> method="get">
    <input type="submit" value="Dragons? Dragons are a myth.">
</form>