// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.grid {
    display: grid;
    grid-template-columns: 15% 15% 15%;
    grid-template-rows: 50% 50%;
    grid-row-gap: 30px;
    justify-content: center;
    justify-items: center;
}
html {text-align: center;}